body {
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

h3 {
    font-size: 21px;
    color: gray;
}

h3.right {
    text-align: right;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-size: 16px;
    color: Aquamarine;
    display: block;
    text-align: center;
}